.select {
  position: relative;
  width: 250px;
  height: 50px;
  margin: 0;
  padding: 0;
  z-index: 1;

  &.open {
    .select-dropdown {
      display: block;
    }

    .select-backdrop {
      display: block;
    }
  }

  &-input {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 46px;
    align-items: center;
    margin: 0;
    padding: 0 1rem 0 1rem;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    cursor: pointer;
  }

  &-dropdown {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    max-height: 250px;
    margin: .5rem 0 0 0;
    padding: 0;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,.12);
    z-index: 1;
    overflow-y: auto;
  }

  &-list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
      padding: .5rem;

      &.selected {
        background-color: #eeeeee;
      }

      &:hover {
        background-color: #eeeeee;
        cursor: pointer;
        transition: .15s background-color ease-out;
      }
    }
  }

  &-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    background: transparent;
    z-index: -1;
  }
}